* {
    position: relative;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

.menu {
    margin: 9px;
    margin-left: 20px;
}

img { 
    width: 32px;

}

.text1 {
    position: absolute;
    margin-left: 16px;
    top: 10px;
    font-size: 17px;
    
}

li {
    list-style-type: none;
    display: flex;
}

.menu1 {
    text-decoration: none;
    color: rgb(165, 165, 165);
}


.logo {
    text-decoration: none;
    color: #008ce7;
    font-size: 58px;
    margin-left: 17px;   
}

.logo span {
    color: #ff7507;
}