header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .side-left {
        background-color: red;
        a {
            img {
                width: 40px;
                height: 40px;
            }
        }
    }
    .side-right {
        background-color: blue;
        a {
            display: flex;
            align-items: center;
            margin: 12px;
        }
    }
}