/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
@import url(//db.onlinewebfonts.com/c/b9346beb4aa37b086750799d027f6f30?family=Gabriela);
@import url("https://rsms.me/inter/inter.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Abel";
  src: url("//db.onlinewebfonts.com/t/75e8975966c040d18b299029193d3b1f.eot");
  src: url("//db.onlinewebfonts.com/t/75e8975966c040d18b299029193d3b1f.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/75e8975966c040d18b299029193d3b1f.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/75e8975966c040d18b299029193d3b1f.woff") format("woff"), url("//db.onlinewebfonts.com/t/75e8975966c040d18b299029193d3b1f.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/75e8975966c040d18b299029193d3b1f.svg#Abel") format("svg");
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 25px 0 25px;
}
header .left {
  display: flex;
  align-items: center;
}
header .left .logo,
header .left a {
  display: flex;
  align-items: center;
  gap: 14px;
}
header .left .logo h1,
header .left a h1 {
  font-family: Gabriela;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 141.02%;
  color: #000000;
}
header .left .add_btn {
  width: 134px;
  height: 44px;
  background: #1F30C9;
  border-radius: 9px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 141.02%;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  margin-left: 39px;
}
header .left .filter_icon {
  margin: 0 11px 0 19px;
  cursor: pointer;
}
header .left .filter_icon_black {
  fill: black;
}
header .left .filter_icon_white {
  fill: white;
}
header .left .filter_icon:hover path {
  fill: grey;
}
header .left .search_bar {
  display: flex;
  align-items: center;
  gap: 8px;
  display: none;
}
header .left .search_bar select {
  width: 138px;
  height: 44px;
  background: #E7E7E7;
  border-radius: 10px;
  border: none;
  text-align: center;
  font-family: Abel;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 141.02%;
  color: rgba(0, 0, 0, 0.86);
}
header .left .search_bar input {
  width: 189px;
  padding: 0 10px;
  font-size: 15px;
}
header .left .search_bar input::placeholder {
  text-align: center;
}
header input {
  width: 718px;
  height: 44px;
  background: #E7E7E7;
  border-radius: 10px;
  border: none;
  font-family: Abel;
  font-style: normal;
  font-weight: 400;
  line-height: 141.02%;
  color: black;
  padding: 0 10px 0 60px;
  font-size: 20px;
}
header input::placeholder {
  color: rgba(0, 0, 0, 0.45);
}
header .right {
  position: relative;
}
header .right .search_icon {
  position: absolute;
  top: 13px;
  left: 17px;
}

main {
  width: 1751px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 35px;
  row-gap: 14px;
}
main .item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 322px;
  cursor: pointer;
}
main .item .left {
  display: flex;
  align-items: center;
  gap: 14px;
}
main .item .left img {
  border-radius: 12px;
  width: 68px;
  height: 68px;
}
main .item .left .texts {
  height: 68px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3px 0;
  width: 220px;
}
main .item .left .texts .name {
  font-family: "Abel";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 141.02%;
  color: #000000;
}
main .item .left .texts .established {
  font-family: "Abel";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 141.02%;
  color: #000000;
}
main .item .left .texts .country {
  font-family: "Abel";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 141.02%;
  color: rgba(0, 0, 0, 0.6);
}
main .item .right {
  height: 68px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
main .item .change_delete {
  width: 116px;
  height: 59px;
  background: rgba(255, 255, 255, 0.45);
  box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(16px);
  border-radius: 8px;
  padding: 6px 10px;
  position: absolute;
  top: -35px;
  right: -95px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}
main .item .change_delete span {
  font-family: "Abel";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 141.02%;
  color: rgba(0, 0, 0, 0.71);
  cursor: pointer;
}
main .item .dsp_none2 {
  display: none;
}

.white_back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.white_back .close {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
}

.blur_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(200, 200, 200, 0.4);
  backdrop-filter: blur(25px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.blur_modal .close {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
}
.blur_modal .screen {
  width: 691px;
  height: 691px;
  background: #FFFFFF;
  box-shadow: 0px 0px 28px 1px rgba(0, 0, 0, 0.25);
  border-radius: 57px;
  z-index: 100;
}

.modal_for_create_change_items {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 54px 56px 54px;
}
.modal_for_create_change_items span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 141.02%;
  color: #000000;
  margin-bottom: 28px;
}
.modal_for_create_change_items form {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 8px;
  font-family: "Inter";
  font-style: normal;
}
.modal_for_create_change_items form .sizer {
  height: 55px;
  border: none;
  outline: none;
  border-radius: 11px;
  background: #E7E5E5;
  padding: 0 21px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 141.02%;
}
.modal_for_create_change_items form button {
  background: #1F30C9;
  height: 84px;
  margin-top: 17px;
  border: none;
  border-radius: 11px;
  font-weight: 700;
  font-size: 32px;
  line-height: 141.02%;
  color: #FFFFFF;
}

.modal_for_items_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 30px 54px 56px 54px;
  height: 615px;
}
.modal_for_items_info .top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 25px;
}
.modal_for_items_info .top span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 141.02%;
  margin-right: 165px;
}
.modal_for_items_info .top svg {
  align-content: flex-end;
}
.modal_for_items_info .info {
  display: flex;
  flex-direction: column;
  align-self: start;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 141.02%;
  gap: 10px;
}
.modal_for_items_info .info textarea {
  width: 100%;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-size: 20px;
  line-height: 141.02%;
  font-weight: bold;
  resize: none;
  overflow-y: scroll;
}
.modal_for_items_info button {
  width: 100%;
  height: 84px;
  background: #1F30C9;
  border-radius: 11px;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 141.02%;
  color: #FFFFFF;
}

.dsp_none {
  display: none;
}

/*# sourceMappingURL=style.css.map */
