/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

body .conteiner .registrationForm,
body .conteiner .enterForm, body .conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  height: 100vh;
  width: 100%;
}
body .conteiner {
  gap: 26px;
}
body .conteiner .title {
  font-weight: 400;
  font-size: 45px;
  line-height: 141.02%;
}
body .conteiner .login_register {
  color: #5a67df;
  font-size: 16px;
  cursor: pointer;
}
body .conteiner .login_register:hover {
  text-decoration: underline;
}
body .conteiner .registrationForm,
body .conteiner .enterForm {
  gap: 26px;
}
body .conteiner .registrationForm input, body .conteiner .registrationForm button,
body .conteiner .enterForm input,
body .conteiner .enterForm button {
  width: 487px;
  height: 55px;
  box-shadow: 0px 0px 11px rgba(150, 150, 150, 0.25);
  border-radius: 11px;
}
body .conteiner .registrationForm input,
body .conteiner .enterForm input {
  background: #FAFAFA;
  border: 1px solid rgba(150, 150, 150, 0);
  padding: 13px 21px;
  font-weight: 400;
  font-size: 20px;
  line-height: 141.02%;
}
body .conteiner .registrationForm input:hover,
body .conteiner .enterForm input:hover {
  border: 1px solid rgba(150, 150, 150, 0.25);
}
body .conteiner .registrationForm input::placeholder,
body .conteiner .enterForm input::placeholder {
  color: rgba(0, 0, 0, 0.26);
}
body .conteiner .registrationForm button,
body .conteiner .enterForm button {
  background: #1F30C9;
  font-weight: 600;
  font-size: 24px;
  line-height: 141.02%;
  color: #FFFFFF;
  border: none;
}
body .conteiner .registrationForm .invalid,
body .conteiner .enterForm .invalid {
  border: 1px solid red;
}

/*# sourceMappingURL=style.css.map */
