* {font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
margin: 0;
padding: 0;
}

div {
    margin: 20px;
}

input {
    height: 27px;
    width: 750px;
    border: 1px solid rgb(165, 165, 165);
    
}

::placeholder {
    color: grey;
    padding-left: 17px;
    font-size: 14.5px;
}

button {
    height: 30px;
    width: 100px;
    margin-left: 25px;
    color: honeydew;
    border: none;
    background-color: rgb(255, 123, 0);
    font-size: 14px;
    
}